html{
    background-color: darkblue;
    font-family: sans-serif;
}

img{
    width: 200px;
}

.tiny{
    width: 100px;
}

.button{
    margin-top: 20px;
    font-size: x-large;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

table{
    min-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

table, th, td{
    border: solid black;
    border-collapse: collapse;
}

table tr td:nth-child(1){
    text-align: center;
}

table tr td:nth-child(3){
    text-align: center;
}

table tr td:nth-child(2){
    text-align: center;
    font-size: large;
}

td{padding: 5px;}

label{
    font-size: large;
}

input{
    margin: 10px;
}

h1, h2, h3{text-align: center;}

h1{
    background-color: lightskyblue;
    border-radius: 30px;
}

h3{
    font-size: x-large;
    margin: 0px;
    margin-bottom: 10px;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.question{
    padding: 20px;
    border-radius: 15px;
    border: solid black 3pt;
    background-color: lightskyblue;
    opacity: .8;
    width: 90%;
}

.bottom-buttons{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.list{
    text-align: left !important;
}

/*.result{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}*/

.option{
    display: grid;
    grid-template-columns: 30px 100%;
    margin: 20px;
    align-content: center;
    border-top: solid black;
    padding-top: 25px;
}

.option div{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.option > div{margin-left: 20px;}

.option div div{
    display: grid;
    grid-template-columns: 4fr 6fr 3fr;
    min-width: 270px;
    margin: 20px;
    text-align: center;
}

.option div div div{
    display: flex;
    flex-direction: column;
}

.option img{
    width: 20%;
    min-width: 150px;
    max-width: 200px;
    max-height: 300px;
}

.option *{
    margin: 0px;
}

@media (max-aspect-ratio: 4/3){
    .option div{
        display: flex;
        flex-direction: column;
    }

    .option div div{
        display: flex;
        flex-direction: column;
        min-width: 270px;
        margin: 20px
    }

    .option div div p{
        margin-right: 20px;
    }

    table{
        min-width: auto;
    }
}

h4{
    padding-top: 15px
}